.container {
    min-height: 100vh;
}

button a {
    color: #ffffff;
    text-decoration: none;
}

.table-header {
    background-color: #004b8c;
    color: #f4f4f4;
}

.grey-table {
    background-color: #777777;
    color: #f4f4f4;
}

.light-grey-table {
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    color: #333333;
}

tr:nth-child(even) {
    background-color: #ffffff;
    color: #333333;
}

tr:nth-child(odd) {
    background-color: #f4f4f4;
    color: #333333;
}

.selected {
    background-color: #0e537d;
    border: 1px solid #ffffff;
}

.selected button {
    color: #ffffff !important;
}

.btn-pri {
    background-color: #0e537d;
    border-color: #0e537d;
    color: #ffffff !important;
}

/* CSSTransition Classes */
.transition-enter {
    opacity: 0;
}

.transition-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.transition-appear {
    opacity: 0;
}

.transition-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.transition-exit {
    opacity: 0;
}

.transition-exit-active {
    opacity: 0;
}
